     {% extends "nav.html" %}
{% load static %}
{% block content %}
     
            <section class="white section">
                <div class="container">
                    <div class="row contact-wrapper">
                        <div class="col-md-9 col-sm-9 col-xs-12 content-widget">
                            <div class="widget-title">
                                <h4>Contact Form</h4>
                                <hr>
                            </div>
                            <div id="contact_form" class="contact_form row">
                                <div id="message"></div>


                                <form
                                    id="contactform"
                                    name="contactform"
                                    method="post">
                                    {% csrf_token %}
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <input
                                            type="text"
                                            name="name"
                                            id="name"
                                            class="form-control"
                                            placeholder="Name *">
                                        <input
                                            type="text"
                                            name="email"
                                            id="email"
                                            class="form-control"
                                            placeholder="Email *">
                                        <input
                                            type="text"
                                            name="roll_no"
                                            id="roll_no"
                                            class="form-control"
                                            placeholder="Department">
                                        <input
                                            type="text"
                                            name="department"
                                            id="department"
                                            class="form-control"
                                            placeholder="Roll No">
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <textarea
                                            class="form-control"
                                            name="message"
                                            id="message"
                                            rows="6"
                                            placeholder=""></textarea>
                                        <button
                                            type="submit"
                                            value="SEND"
                                            id="submit"
                                            class="btn btn-primary btn-block" type="submit">Send Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>




                        <div class="col-md-3 col-sm-3 col-xs-12 content-widget">
                            <div class="widget-title">
                                <h4>Contact Details</h4>
                                <hr>
                            </div>
                            <div class="contact-list">
                                <ul class="contact-details">
                                    <li>
                                        <i class="fa fa-link"></i>
                                        <a href="#">www.yoursite.com</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <a href="mailto:info@shreeshsharma76@gmail.com">shreeshsharma76@gmail.com</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        +91 9682629809</li>
                                    <li>
                                        <i class="fa fa-fax"></i>
                                        +90 9889938786</li>
                                    <li>
                                        <i class="fa fa-home"></i>
                                        Mysore Rd, RV Vidyaniketan, Post, Bengaluru, Karnataka 560059</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock content %}
            