{% extends "nav.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="grey section">
        <div class="container">
            <div class="row">
                <div id="content" class="col-md-12 col-sm-12 col-xs-12">
                    <div class="blog-wrapper">
                        <div class="row second-bread">
                            <div class="col-md-6 text-left">
                            </div>
                            <div class="col-md-6 text-right">
                                <div class="bread">
                                    <ol class="breadcrumb">
                                        <li>
                                            <a href="#">Home</a>
                                        </li>
                                        <li class="active">success</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-wrapper">
                        <div class="blog-desc notfound text-center">
                            <h3>Registered</h3>
                            <p class="lead">You have successuly registered for the course please check the <br>
                                        course in YOUR COURSES Section.</p>
                                    <a href="{% url 'home' %}" class="btn btn-default">Back to homepage</a>
                                    <hr class="invis"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endblock content %}